:root {
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --main-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --additional-background-color: #f5f4fa;
  --accent-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--main-background-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ------Header------ */

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-item {
  color: var(--main-title-color);
}

.header-item .current {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.header-link:focus,
.header-link:hover {
  color: var(--accent-color);
}

.info-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.info-item:hover,
.info-item:focus {
  color: var(--accent-color);
}

/* ------Hero------ */

.hero {
  background-color: var(--second-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--second-background-color);
}

/* ------Features------ */

.features-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.features-item-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* ------Work------ */

.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

/* ------Staff------ */

.staff {
  background-color: var(--additional-background-color);
}

.staff-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.staff-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.staff-item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* ------Portfolio------ */

.portfolio-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.portfolio-list-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-btn-color);
  background-color: var(--additional-background-color);
  cursor: pointer;
  border: none;
}

.portfolio-list-btn:focus,
.portfolio-list-btn:hover {
  color: var(--second-title-color);
  background-color: var(--accent-color);
}

.portfolio-list-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.portfolio-list-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* ------Footer------ */

.footer {
  background-color: var(--second-background-color);
}

.logo-item-footer {
  color: var(--second-title-color);
}

.address-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.address-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.address-item:focus,
.address-item:hover {
  color: var(--accent-color);
}
